@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/inter-v13-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/inter-v13-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v13-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v13-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v13-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v13-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter-v13-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-v13-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/crimson-pro-v24-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/crimson-pro-v24-latin-200italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/crimson-pro-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/crimson-pro-v24-latin-300italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/crimson-pro-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/crimson-pro-v24-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/crimson-pro-v24-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/crimson-pro-v24-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/crimson-pro-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/crimson-pro-v24-latin-600italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/crimson-pro-v24-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/crimson-pro-v24-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/crimson-pro-v24-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/crimson-pro-v24-latin-800italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/crimson-pro-v24-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/crimson-pro-v24-latin-900italic.woff2") format("woff2");
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --happy: #efdef6;
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(10 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);

    --happy: #5d326f;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    font-size: 14px;

    &.is-safari {
      h1,
      h2,
      h3 {
        &.text-transparent {
          color: #dfb1f6;
        }
      }
    }

    &.light {
      img.dark {
        display: none;
      }

      img.light {
        display: inline;
      }
    }

    &.dark {
      img.light {
        display: none;
      }

      img.dark {
        display: inline;
      }
    }
  }

  body {
    @apply bg-background text-foreground;
    @apply font-inter;

    &.landingpage {
      @apply bg-background text-foreground;
    }
  }

  .wrapper {
    @apply mx-auto px-5 sm:px-8 md:px-10 lg:px-14;
    max-width: 1400px;
  }

  .privacy {
    strong {
      @apply font-bold;
    }
  }

  .landingpage,
  .privacy {
    a {
      text-decoration: underline;
    }

    p {
      @apply mb-4;
      color: var(--primary);

      a {
        text-decoration: underline;
      }
    }

    strong {
      @apply font-medium;
    }

    h3 {
      @apply font-crimson-pro text-2xl font-normal mb-2;
    }

    ul {
      li {
        @apply mb-4;
        @apply ml-6;

        &:before {
          content: "\2014";
          position: absolute;
          margin-left: calc(-1 * theme("spacing.6"));
        }
      }
    }
  }
}
